<div class="page_container hide-scrollbar">
  <div class="cards_container container">
    <div class="section_title">
      <h3 class="title">Relatórios</h3>
      <button class="btn tooltip_btn">
        <i class="fa-solid fa-question"></i>
      </button>
    </div>

    <section class="animate_show section_container m-0 mt-3 mb-5 d-flex flex-column">

      <section class="animate_show periodo row m-0 mb-3 p-0 gap-2 flex-wrap align-items-center">
        <h4 class="p-0 m-0 title m-0 col me-5 lh-1">Período</h4>
        <div class="p-0 m-0 btn-group col bg-body ms-auto shadow-sm flex-sm-grow-1 flex-md-grow-0 order-md-2">
          <button class="btn btn-outline-main lh-1 py-2 btn-sm"
          [class.active]="quickDate == 'week'"
          (click)="setQuickDate('week')"
          style="font-size: .75rem; padding: .75rem;"
          >
            Semana
          </button>
          <button class="btn btn-outline-main lh-1 py-2 btn-sm"
          [class.active]="quickDate == 'month'"
          (click)="setQuickDate('month')"
          style="font-size: .75rem; padding: .75rem;"
          >
            Mês
          </button>
          <button class="btn btn-outline-main lh-1 py-2 btn-sm"
          [class.active]="quickDate == 'year'"
          (click)="setQuickDate('year')"
          style="font-size: .75rem; padding: .75rem;"
          >
            Ano
          </button>
        </div>
        <div class="p-0 m-0 datas d-flex col gap-2 ms-md-auto" style="font-size: .875rem;">
          <input class="bg-body shadow-sm col border" style=" height: 32px;" type="date" [max]="endDate" (change)="dateChanged()" [(ngModel)]="startDate">
          <input class="bg-body shadow-sm col border" style=" height: 32px;" type="date" [min]="startDate" (change)="dateChanged()" [(ngModel)]="endDate">
        </div>

      </section>

        <section class="animate_show">
          <app-card-mini-info [infos]="infos"></app-card-mini-info>
        </section>

        <ng-container *ngIf="schedulesInPeriod.length > 0">
          <app-default-table [tableTitle]="'Aniversariantes do mês'" [heightAuto]="true" [table]="getBirthdaysTable()"></app-default-table>
        </ng-container>

        <ng-container *ngIf="schedulesInPeriod.length > 0">
          <app-default-table [maxElements]="5" [tableTitle]="'Alunos mais faltosos'" [table]="getAbsencesTable()"></app-default-table>
        </ng-container>

    </section>

  </div>
</div>
