<div class="app_container d-flex">
  <app-Sidebar *ngIf="!isAuthPage"></app-Sidebar>
  <div class="router_parent_container flex-grow-1 d-flex flex-column"
  [class.px-2]="!isAuthPage">
    <app-NavBar *ngIf="!isAuthPage"></app-NavBar>
    <div class="router_container flex-grow-1 d-flex flex-column position-relative">
      <app-Spinner *ngIf="(spinnerService.isLoading$ | async)"></app-Spinner>
      <ng-container  *ngIf="isAuthPage || isAppLoaded">
        <router-outlet></router-outlet>
      </ng-container>
    </div>
    <app-footer-bar></app-footer-bar>
  </div>
</div>
