<div class="section_container">

  <div class="section_title">
    <div class="left">Próximos Horários</div>
    <button class="btn card choose_date">Escolher data</button>
  </div>
  <div class="cards_wrapper">
    <button
    *ngFor="let item of thisWeek"
    class="card card_day flex_column"
    [class.active]="getFormatedMoment(item) == currentDay"
    (click)="setDay(item)"
    >
      <div class="month_day">
        {{getMomentMonthDay(item)}}
      </div>
      <div class="week_day">
        {{getMomentWeekDay(item)}}
      </div>
    </button>
  </div>

</div>
