.plus_btn_container{
  right: 0;
  bottom: 2.75rem;
  margin: 1rem;
  position: fixed;
  animation: .5s show forwards;
  z-index: 1;
  &.no-margin{
    bottom: 0;
  }
  &.hide{
    animation: .5s hide forwards;
  }
}

.plus_btn{
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  padding: 0;
  font-size: 1.5em;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.315);
  background-color: var(--app-color-primary);
  color: white;
  &:hover{
    background-color: white;
    color: var(--app-color-primary);
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.315);
  }
}

@keyframes show {
  from{
    transform: translateY(100vh);
  }
  to{
    transform: translateY(0);
  }
}

@keyframes hide {
  from{
    transform: translateY(0);
  }
  to{
    transform: translateY(100vh);
  }
}

@media (min-width: 1024px) {
  .plus_btn_container{
    right: 0;
    bottom: 3rem;
  }
}
