
.barber_container{
  border-radius: 0;
  width: 100%;
  border-left: none;
  border-right: none;
  padding-left: 0;
  padding-right: 0;
  .container {
    display: flex;
    text-align: left;
    font-size: .8rem;
    gap: .2rem;
    justify-content: space-between;
    &.expand{
      height: auto;
    }
    .title{
      margin: 0.25rem;
    }
  }
}

.barber_cards{
  gap: .35rem;
  max-width: 50%;
}

.barber_card{
  cursor: pointer;
  font-size: .7rem;
  margin: 0;
  border-radius: 50px;
  padding: 0.25rem 0.75rem;
  align-items: center;
  justify-content: space-between;
  display: none;
  i {
    display: none;
  }
}

.barber_card.active{
  display: flex;
  i{
    display: block;
  }
}

.barber_container.expand .barber_card{
  display: flex;
  i{
    transform: rotate(180deg);
  }
}

@keyframes showContainer {
  from{
    transform: translateY(-50px);
  }
  to{
    transform: translateY(0px);
  }
}
