<app-BarberModal *ngIf="showModal" ></app-BarberModal>
<app-PlusButton [onClickEvent]="newBarber"></app-PlusButton>

<div class="section_container">
  <div class="cards_container">
    <div class="section_title">
      <h3 class="title">Funcionários</h3>
      <button class="btn tooltip_btn">
        <i class="fa-solid fa-question"></i>
      </button>
    </div>
    <div class="search_bar_container">
      <label for="search_bar" class="form_group">
        <input type="text" id="search_bar" class="card with_icon" [(ngModel)]="searchValue" placeholder="Procurar">
        <i class="fa-solid fa-magnifying-glass"></i>
      </label>
    </div>

    <ng-container *ngFor="let item of barberList" >
      <app-BarberCard [model]="item" ></app-BarberCard>
    </ng-container>

  </div>
</div>
