################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BarberApp.Backend/BarberApp.API/Credentials
/BarberApp.Backend/BarberApp.SERVICE/Service/GoogleCloudService.cs
