<div class="card service_type">

  <!-- <div class="picture">
    <i class="fa-brands fa-whatsapp"></i>
    <i class="fa-solid fa-scissors"></i>
  </div> -->
  <button class="btn update_btn" (click)="editService()">
    <i class="fa-solid fa-pen"></i>
  </button>
  <div class="content">
    <div class="title">
      <span>{{serviceModel.nameService}}</span>
    </div>
    <div class="desc_area">
      <div class="desc price">
        <span>{{formatToMoney(serviceModel.valueService)}}</span>
      </div>
    </div>
  </div>

</div>
