<div
class="card border-0 flex-row p-2 gap-2"
[class.shadow-sm]="!hideShadow"
>
  <div
  class="card-image d-grid align-content-center justify-content-center p-3 rounded-pill text-bg-main-color"
  style="width: 42px; height: 42px;"
  >
    <img *ngIf="barberModel.urlImage" src="{{barberModel.urlImage}}" alt="" srcset="">
    <i *ngIf="!barberModel.urlImage" class="fa-solid fa-user"></i>
  </div>
  <div class="card-body p-0 my-auto ">
    <h5 class="card-title m-0 mb-1 lh-1">{{barberModel.firstName}} {{showLastName? barberModel.lastName : ''}}</h5>
    <h6 class="card-subtitle text-body-secondary small m-0 lh-1">{{barberModel.phoneNumber}}</h6>
  </div>

  <ng-container *ngIf="bigInfo || smallInfo">
    <div class="card-body p-0 my-auto  ms-auto text-end">
      <ng-container *ngIf="bigInfo">
        <h5 class="card-title m-0 mb-1 lh-1">{{bigInfo}}</h5>
      </ng-container>

      <ng-container *ngIf="smallInfo">
        <h6 class="card-subtitle text-body-secondary small m-0 lh-1">{{smallInfo}}</h6>
      </ng-container>
    </div>
  </ng-container>

</div>
