
<div class="card border shadow-sm flex-row p-2 gap-2 cursor-pointer" (click)="onClick()">
  <div
  class="card-image d-grid align-content-center justify-content-center p-3 rounded text-bg-main"
  style="width: 48px;"
  >
    <i class="fa-solid fa-screwdriver-wrench fs-4"></i>
  </div>
  <div class="card-body p-0 my-auto">
    <div class="d-flex align-items-start justify-content-between lh-1 mb-1">
      <h5 class="card-title m-0">
        <ng-container *ngIf="scheduleModel.client">Cliente: {{scheduleModel.client.name}}</ng-container>
        <ng-container *ngIf="scheduleModel.schedulingClass">Turma: {{classModel?.name}}</ng-container>
      </h5>
      <span class="card-title m-0 text-uppercase small text-muted">{{formatedDate}}</span>
    </div>
    <div class="card-subtitle d-flex flex-column text-muted lh-1 small gap-1 m-0">
      <div>
        <span *ngFor="let item of scheduleModel.serviceType; let i = index">
          {{item.nameService}}{{i+1 < scheduleModel.serviceType.length ? ', ' : ''}}
        </span>
      </div>
      <span>{{formatedMoney}}</span>
    </div>
  </div>
</div>
