*{
  transition: all .5s ease-in-out, opacity .5s ease-in-out;
}
.account_container{
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--app-color-bg);
}

.header{
  flex-shrink: 0;
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .btn_return{
    width: 50px;
    height: 50px;
    border-radius: 50% 50%;
    background-color: var(--app-color-input-bg);
    border: none;
    color: var(--app-color-text);
  }
}

.update_form{
  flex-shrink: 0;
  gap: .5rem;
  position: relative;
  height: calc(100svh - 5.5rem);
  .form_group{
    gap: .5rem;
    display: flex;
    flex-wrap: wrap;
    >*{
      flex-grow: 1;
    }
    .input_icon{
      position: absolute;
    }
  }
  .profile_pic{
    height: 150px;
    width: 150px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: var(--app-color-input-bg);
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
  }
  .btn_submit{
    position: absolute;
    width: 100%;
    bottom: 5vw;
  }
}
