<div class="account_container" [class.show]="expanded">
  <div class="black_overlay"></div>
  <div class="header container">
    <button class="btn btn_return" (click)="onCancel()" >
      <i class="fa-solid fa-arrow-left"></i>
    </button>
  </div>


  <form #client_form="ngForm"
  (ngSubmit)="onSubmit(client_form)"
  class="container update_form flex_column">
    <div class="profile_pic">
      <i class="fa-solid fa-user placeholder_icon"></i>
      <!-- <img src="" alt="" srcset=""> -->
    </div>

    <div class="form_group text_capitalize">
      <input class="with_icon" type="text" name="companyName"
      id="form-companyName" placeholder="Empresa" [ngModel]="userInfo.companyName" [disabled]="!isAdmin">
      <i class="fa-solid fa-lock"></i>
    </div>

    <div class="form_group text_capitalize">
      <input class="with_icon" type="text" name="firstname"
      id="form-firstname" placeholder="Nome" [ngModel]="userInfo.firstName">
      <i class="fa-solid fa-lock"></i>
    </div>

    <div class="form_group text_capitalize">
      <input class="with_icon" type="text" name="lastname"
      id="form-lastname" placeholder="Sobrenome" [ngModel]="userInfo.lastName">
      <i class="fa-solid fa-lock"></i>
    </div>

    <div class="form_group">
      <input class="with_icon" type="email" name="email"
      id="form-email" placeholder="E-mail" [ngModel]="userInfo.email">
      <i class="fa-solid fa-envelope"></i>
    </div>

    <label for="form-cep" class="form_group" *ngIf="userInfo.barderId == null">
      <input class="with_icon" type="text" name="cep"
      id="form-cep" placeholder="Cep" [ngModel]="removeUndefinedStrings(userInfo.cep)">
      <i class="fa-solid fa-location-dot"></i>
    </label>

    <label for="form-phone" class="form_group">
      <input class="with_icon" type="text" name="phoneNumber"
      id="form-phone" placeholder="Celular" [ngModel]="removeUndefinedStrings(userInfo.phoneNumber)">
      <i class="fa-solid fa-phone"></i>
    </label>

    <button type="submit" class="btn btn_submit">Confirmar Alterações</button>

  </form>


</div>
