<div class="page_container">
  <div class="header" [class.adminBoard]="showAdminBoard"  appWindowScrollDetector [class.top-0]="scrolledUp">
    <div class="container">
      <button class="btn btn_return" (click)="onCancel()" >
        <i class="fa-solid fa-arrow-left"></i>
      </button>
      <h3>
        {{headerUrl}}
      </h3>
    </div>
    <app-AdminBoard *ngIf="showAdminBoard"></app-AdminBoard>
  </div>


  <section class="router_container">
    <router-outlet></router-outlet>
  </section>

</div>

