/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200;400;600;800&display=swap');
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import 'ngx-toastr/toastr';
@import './app/Shared/Styles/button.scss';
@import './app/Shared/Styles/card.scss';

:root{
  --app-color-primary: #ff9000;
  --app-color-blue: #518fa3;

  --app-color-text: #f4ede8;
  --app-color-bg: #312e38;
  --app-color-bg-darker: #000;
  --app-color-bg-alt: #3e3b47;
  --app-color-input-bg: #232129;
  --app-color-input-text: #5e5b59;
  --app-color-light-border: #55535d;



  --app-color-text-light: #000000;
  --app-color-bg-darker-light: #e7e7e7;
  --app-color-bg-light: #ffffff;
  --app-color-bg-alt-light: #ffffff;
  --app-color-input-bg-light: #f1f1f1;
  --app-color-input-text-light: #5e5b59;
  --app-color-light-border-light: #dfdfdf;

  --section-padding: 2vw 10vw;

  --nav-color-bg: #28262e;

  --nav-zindex: 100;
  --modal-zindex: 1000;
  --loader-zindex: 10000;

  --global-border-radius: 10px;

  --default-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --default-transition-no-bounce: cubic-bezier(0.175, 0.885, 0.32, 1);

  &.light-mode{
    --app-color-text: var(--app-color-text-light);
    --app-color-bg: var(--app-color-bg-light);
    --app-color-bg-darker: var(--app-color-bg-darker-light);
    --app-color-bg-alt: var(--app-color-bg-alt-light);
    --app-color-input-bg: var(--app-color-input-bg-light);
    --app-color-input-text: var(--app-color-input-text-light);
    --app-color-light-border: var(--app-color-light-border-light);
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
  transition: all .3s var(--default-transition);
}

html.no_anim * {
  transition: none !important;
}

html{
  overflow: hidden;
  // height: 100svh;
}

body{
  background-color: var(--app-color-bg);
  color: var(--app-color-text);
}

.container{
  width: 80%;
  margin: 0 auto;
}

.container-fluid, .w_100{
  width: 100% !important;
}

hr{
  border: none;
  height: 2px;
  background: linear-gradient(var(--app-color-input-bg) 50%, rgb(102, 102, 102) 51%);
  margin: 0.25rem 0;
}

a{
  color: var(--app-color-text);
}

.primary{
  color: var(--app-color-primary);
}

.no_grow{
  flex-grow: 0 !important;
}

.flex_column{
  text-align: center;
  display: flex;
  flex-direction: column;
}

.mr-1{
  margin-right: .5rem;
}

.mr-2{
  margin-right: 1rem;
}

.form_group{
  position: relative;
  input~i{
    position: absolute;
    padding-left: 0.5rem;
    height: 100%;
    top: 0;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    color: var(--app-color-input-text);
  }
}

input{
  transition: all .3s var(--default-transition) !important;
  background-color: var(--app-color-input-bg);
  color: var(--app-color-input-text);
  border: none;
  padding: .5rem 1rem;
  border-radius: var(--global-border-radius);
  &:disabled::before{
    content: " ";
    font-family: "Font Awesome 6 free";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    z-index: 1;
  }
  &~i{
    transition: all .3s var(--default-transition) !important;
  }
  &:not(:placeholder-shown){
    color: var(--app-color-text);
  }
  &:focus{
    outline: none;
    box-shadow: 0px 0px 0px 2px var(--app-color-primary);
    color: var(--app-color-text);
    &~i{
      color: var(--app-color-primary);
    }
  }
  &.form_invalid{
    outline: 2px solid red;
    animation: .3s alternate horizontal-shaking;
  }
  &.with_icon{
    padding-left: 40px;
  }
}


img.app-logo{
  width: 100%;
  height: auto;
  object-fit: cover;
  mix-blend-mode: lighten;
}

h1,h2,h3,h4{
  font-family: 'Bebas Neue', 'Poppins', sans-serif;
}

h1{
  font-size: 4rem;
}

h2{
  font-size: 3.5rem;
}

h3{
  font-size: 2.5rem;
}

h3{
  font-size: 2rem;
}

.text_color_primary{
  color: var(--app-color-primary);
}

.section_title{
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

.section_container{
  animation: .2s sectionShow forwards;
}

.text_capitalize,
.text_capitalize >*{
  text-transform: capitalize;
}

.animate_show{
  animation: .2s sectionShow forwards;
}

@keyframes sectionShow {
  from{
    transform: translateY(50px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

@keyframes horizontal-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
 }

 @media (max-width: 767px) {
  :root{
    --section-padding: 5vw;
  }
  .container{
    width: 90%;
  }

  h1{
    font-size: 3rem;
  }

  h2{
    font-size: 2.875rem;
  }

  h3{
    font-size: 2.25rem;
  }

  h3{
    font-size: 1.85rem;
  }

}
