<div class="card client">

  <!-- <div class="picture">
    <i class="fa-solid fa-user-large"></i>
  </div> -->
  <button class="btn whatsapp_btn">
    <i class="fa-brands fa-whatsapp"></i>
  </button>
  <div class="content">
    <div class="title">
      <span>{{clientModel.name}}</span>
    </div>
    <div class="desc">
      <span>{{clientModel.phone}}</span>
    </div>
  </div>
  <ng-container *ngIf="bigInfo || smallInfo">
    <div class="aditional_info">
      <ng-container *ngIf="bigInfo">
        <span class="big-info">{{bigInfo}}</span>
      </ng-container>
      <ng-container *ngIf="smallInfo">
        <span class="small-info">{{smallInfo}}</span>
      </ng-container>
    </div>
  </ng-container>

</div>
