<app-SchedulingModal></app-SchedulingModal>

<div class="cards_container">
  <div class="card" *ngFor="let item of todaySchedules">
    <div class="picture">
      <i class="fa-solid fa-scissors"></i>
    </div>
    <div class="content">
      <div class="title">

        <span>{{item.clientName}}</span>
      </div>
      <div class="desc">
        <i class="fa-regular fa-clock"></i>
      <span>{{item.time}}</span>
      </div>
    </div>
    <div class="edit_btn">
      <i class="fa-solid fa-ellipsis-vertical"></i>
    </div>
  </div>
</div>

<div class="btn_container">
  <button class="btn btn_new" (click)="newSchedule()">
    Novo Agendamento
  </button>
</div>

