
<div class="cards_container">
  <div class="card">
    <div class="title">

      <span>Usuário tal</span>
    </div>
    <div class="desc">
      <i class="fa-regular fa-clock"></i>
     <span>11h às 12h</span>
    </div>
  </div>



  <div class="card">
    <div class="title">

      <span>Usuário tal</span>
    </div>
    <div class="desc">
      <i class="fa-regular fa-clock"></i>
     <span>11h às 12h</span>
    </div>
  </div>
  <div class="card">
    <div class="title">

      <span>Usuário tal</span>
    </div>
    <div class="desc">
      <i class="fa-regular fa-clock"></i>
     <span>11h às 12h</span>
    </div>
  </div>
  <div class="card">
    <div class="title">

      <span>Usuário tal</span>
    </div>
    <div class="desc">
      <i class="fa-regular fa-clock"></i>
     <span>11h às 12h</span>
    </div>
  </div>
  <div class="card">
    <div class="title">

      <span>Usuário tal</span>
    </div>
    <div class="desc">
      <i class="fa-regular fa-clock"></i>
     <span>11h às 12h</span>
    </div>
  </div>
  <div class="card">
    <div class="title">

      <span>Usuário tal</span>
    </div>
    <div class="desc">
      <i class="fa-regular fa-clock"></i>
     <span>11h às 12h</span>
    </div>
  </div>
  <div class="card">
    <div class="title">

      <span>Usuário tal</span>
    </div>
    <div class="desc">
      <i class="fa-regular fa-clock"></i>
     <span>11h às 12h</span>
    </div>
  </div>
  <div class="card">
    <div class="title">

      <span>Usuário tal</span>
    </div>
    <div class="desc">
      <i class="fa-regular fa-clock"></i>
     <span>11h às 12h</span>
    </div>
  </div>
  <div class="card">
    <div class="title">

      <span>Usuário tal</span>
    </div>
    <div class="desc">
      <i class="fa-regular fa-clock"></i>
     <span>11h às 12h</span>
    </div>
  </div>
  <div class="card">
    <div class="title">

      <span>Usuário tal</span>
    </div>
    <div class="desc">
      <i class="fa-regular fa-clock"></i>
     <span>11h às 12h</span>
    </div>
  </div>
  <div class="card">
    <div class="title">

      <span>Usuário tal</span>
    </div>
    <div class="desc">
      <i class="fa-regular fa-clock"></i>
     <span>11h às 12h</span>
    </div>
  </div>
  <div class="card">
    <div class="title">

      <span>Usuário tal</span>
    </div>
    <div class="desc">
      <i class="fa-regular fa-clock"></i>
     <span>11h às 12h</span>
    </div>
  </div>
  <div class="card">
    <div class="title">

      <span>Usuário tal</span>
    </div>
    <div class="desc">
      <i class="fa-regular fa-clock"></i>
     <span>11h às 12h</span>
    </div>
  </div>
  <div class="card">
    <div class="title">

      <span>Usuário tal</span>
    </div>
    <div class="desc">
      <i class="fa-regular fa-clock"></i>
     <span>11h às 12h</span>
    </div>
  </div>
  <div class="card">
    <div class="title">

      <span>Usuário tal</span>
    </div>
    <div class="desc">
      <i class="fa-regular fa-clock"></i>
     <span>11h às 12h</span>
    </div>
  </div>
  <div class="card">
    <div class="title">

      <span>Usuário tal</span>
    </div>
    <div class="desc">
      <i class="fa-regular fa-clock"></i>
     <span>11h às 12h</span>
    </div>
  </div>
  <div class="card">
    <div class="title">

      <span>Usuário tal</span>
    </div>
    <div class="desc">
      <i class="fa-regular fa-clock"></i>
     <span>11h às 12h</span>
    </div>
  </div>
  <div class="card">
    <div class="title">

      <span>Usuário tal</span>
    </div>
    <div class="desc">
      <i class="fa-regular fa-clock"></i>
     <span>11h às 12h</span>
    </div>
  </div>
  <div class="card">
    <div class="title">

      <span>Usuário tal</span>
    </div>
    <div class="desc">
      <i class="fa-regular fa-clock"></i>
     <span>11h às 12h</span>
    </div>
  </div>
  <div class="card">
    <div class="title">

      <span>Usuário tal</span>
    </div>
    <div class="desc">
      <i class="fa-regular fa-clock"></i>
     <span>11h às 12h</span>
    </div>
  </div>
  <div class="card">
    <div class="title">

      <span>Usuário tal</span>
    </div>
    <div class="desc">
      <i class="fa-regular fa-clock"></i>
     <span>11h às 12h</span>
    </div>
  </div>
  <div class="card">
    <div class="title">

      <span>Usuário tal</span>
    </div>
    <div class="desc">
      <i class="fa-regular fa-clock"></i>
     <span>11h às 12h</span>
    </div>
  </div>
  <div class="card">
    <div class="title">

      <span>Usuário tal</span>
    </div>
    <div class="desc">
      <i class="fa-regular fa-clock"></i>
     <span>11h às 12h</span>
    </div>
  </div>
  <div class="card">
    <div class="title">

      <span>Usuário tal</span>
    </div>
    <div class="desc">
      <i class="fa-regular fa-clock"></i>
     <span>11h às 12h</span>
    </div>
  </div>
  <div class="card">
    <div class="title">

      <span>Usuário tal</span>
    </div>
    <div class="desc">
      <i class="fa-regular fa-clock"></i>
     <span>11h às 12h</span>
    </div>
  </div>
</div>
