.cards_container{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.btn_container{
  width: 100%;
  position: sticky;
  bottom: 0;
  transform: translateY(5vw);
  border-bottom: 5vw solid var(--app-color-bg);
  box-shadow: 0px 0px 10px 8px var(--app-color-bg);
  background-color: var(--app-color-bg);
  .btn_new{
    width: 100%;
  }
}
