<div class="base_bg" id="base-bg">
  <div class="base_container">

    <div class="user_container" (click)="closeSidebar()">
      <div class="profile_pic">
        <i class="fa-solid fa-user placeholder_icon"></i>

        <div class="sidebar_toggle">
          <i class="fa-solid fa-arrow-left"></i>
        </div>
      </div>
      <div class="user_info">
        <div class="user_name">
          {{loggedUser.firstName}} {{loggedUser.lastName}}
        </div>
        <div class="user_email">
          {{loggedUser.email}}
        </div>
        <div class="company_name">
          {{loggedUser.companyName}}
        </div>
      </div>
    </div>
    <hr>
    <nav class="sidebar_nav">
      <ul class="nav_list">
        <div class="list_title">
          Conta
        </div>
        <li class="nav_item" (click)="goToRoute('/Account')"  >
          <i class="fa-solid fa-user-pen"></i>
          <span>
            Editar
          </span>
        </li>
        <li class="nav_item" (click)="goToRoute('/Employees')"  >
          <i class="fa-solid fa-people-group"></i>
          <span>
            Funcionários
          </span>
        </li>
        <li class="nav_item" (click)="goToRoute('/Services')"  >
          <i class="fa-solid fa-screwdriver-wrench"></i>
          <span>
            Serviços
          </span>
        </li>
        <li class="nav_item" (click)="goToRoute('/Clients')"  >
          <i class="fa-solid fa-user-group"></i>
          <span>
            Clientes
          </span>
        </li>
        <li class="nav_item" (click)="goToRoute('/WorkFlow')"  >
          <i class="fa-solid fa-briefcase"></i>
          <span>
            Horários de funcionamento
          </span>
        </li>
      </ul>
      <hr>
      <ul class="nav_list">
        <div class="list_title">
          Config. do Aplicativo
        </div>
        <li class="nav_item">
          <label for="darkMode">
            <i class="fa-solid fa-palette"></i>
            <span>
              Tema escuro
            </span>
            <input type="checkbox" id="darkMode" [(ngModel)]="darkMode">
          </label>
        </li>
        <li class="nav_item">
          <label for="primaryColor">
            <i class="fa-solid fa-brush"></i>
            <span>
              Cor principal
            </span>
            <input type="color" id="primaryColor" [(ngModel)]="primaryColor">
          </label>
        </li>
        <li class="nav_item">
          <label for="secondaryColor">
            <i class="fa-solid fa-brush"></i>
            <span>
              Cor secundária
            </span>
            <input type="color" id="secondaryColor" [(ngModel)]="secondaryColor">
          </label>
        </li>
        <li class="nav_item">
          <i class="fa-solid fa-text-height"></i>
          <span>
            Tamanho do texto
          </span>
          <input type="number" id="fontSize" name="fontSize" [(ngModel)]="fontsize" min="14" max="18">
        </li>
        <li class="nav_item disabled">
          <i class="fa-solid fa-bell"></i>
          <span>
            Notificações
          </span>
        </li>
      </ul>
      <hr>
      <ul class="nav_list">
        <div class="list_title">
          Suporte
        </div>
        <li class="nav_item disabled">
          <i class="fa-solid fa-circle-question"></i>
          Contato
        </li>
      </ul>
      <hr>
      <li class="nav_item" (click)="logout()" >
        <i class="fa-solid fa-right-from-bracket"></i>
        <span>
          Logout
        </span>
      </li>
    </nav>

  </div>
  <div class="empty_area" (click)="closeSidebar()">

  </div>
</div>
