.base_cards_container{
  padding-top: 1rem;
}
.container_header{
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  gap: .5rem;
  flex-wrap: nowrap;
}

.margin_bot{
  margin-bottom: 5rem;
}
