<ng-container *ngIf="!isBlocked">
  <app-SchedulingModal *ngIf="showModal"></app-SchedulingModal>
  <app-PlusButton [onClickEvent]="newSchedule"></app-PlusButton>

  <div class="section_container">
    <div class="base_cards_container cards_container margin_bot">
      <app-CalendarCard></app-CalendarCard>


      <div class="container_header">
        <button type="button" class="btn_chip with_circle" [class.active]="showAvailable" (click)="showAvailable = !showAvailable; updateSchedulesList()"  >
          <div class="circle blue"></div>
          Disponíveis
          <i class="fa-solid fa-xmark close_icon"></i>
        </button>
        <button type="button" class="btn_chip with_circle" [class.active]="showFilled" (click)="showFilled = !showFilled; updateSchedulesList()"  >
          <div class="circle primary"></div>
          Agendados
          <i class="fa-solid fa-xmark close_icon"></i>
        </button>
      </div>


      <div class="cards_container no_mb no_grow">
        <ng-container *ngFor="let item of schedules; let i = index" >
            <app-ScheduleCard [model]="item" class="animate_show" ></app-ScheduleCard>
        </ng-container>
      </div>
    </div>

  </div>
</ng-container>
