* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

#datepick{
  position: absolute;
  visibility: hidden;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  bottom: 0;
}

label.datepick_view{
  position: relative;
  height: 2rem;
  font-size: .8rem;
  display: flex;
  gap: .5rem;
  align-items: center;
  padding: .5rem .75rem;
  border-radius: 50px;
  &.active{
    font-weight: 600;
  }
}
.section_title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
  margin: 0.8rem 0;
  height: 36px;
  :first-child{
    margin: 0;
  }
}

.cards_wrapper{
  padding: 4px calc(5vw - 8px);
  gap: 0.8rem;
  width: calc(100vw - 16px);
  overflow-x: auto;
  transform: translateX(-50%);
  left: 50%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, 18vw);
  height: 100px;
}

.card_day{
  margin: 0;
  padding: 1rem;
  line-height: 1;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 100%;
  scroll-snap-align: start;
  scroll-margin-left: 5vw;
  scroll-margin-right: 5vw;
  color: var(--app-color-text);
  cursor: pointer;
  .month_day{
    font-weight: bold;
  }
  .week_day{
    font-size: .8em;
  }
  &.active{
    color: white;
    background-color: var(--main);
    border-color: var(--main);
    font-weight: bold;
  }
}

@media (min-width: 768px) {
  .cards_wrapper{
    padding: 4px 0;
    width: 100%;
    transform: translateX(0);
    left: 0;
    grid-template-columns: repeat(7, 1fr);
    overflow: visible;
  }
}

@media (min-width: 1080px) {
  .title{
    display: none;
  }
}
