<div class="base_container">

  <div class="section_title">
    <h3 class="title">Agenda</h3>
    <label
    class="datepick_view btn btn-outline-main border-0 shadow-sm"
    [class.active]="datePicked !== undefined"
     for="datepick" (click)="datepick.showPicker()">

      <input #datepick type="date" name="datepick"
      id="datepick"
      placeholder="escolher data"
      [min]="LastDayOfWeek"
      [(ngModel)]="datePicked">

      <div class="datepick_value">
        <ng-container *ngIf="datePicked !== undefined">
          {{_datePicked?.locale('pt-br')?.format('L')}}
        </ng-container>
        <ng-container *ngIf="datePicked === undefined">
          Escolher data
        </ng-container>
      </div>
      <i class="fa-solid fa-calendar-day"></i>
    </label>
  </div>
  <div class="cards_wrapper" id="cards_wrapper">
    <button
    *ngFor="let item of thisWeek; let i = index"
    class="card border-0 shadow-sm card_day d-flex flex-column"
    id="card_{{getFormatedMoment(item)}}"
    [class.active]="getFormatedMoment(item) == currentDay"
    (click)="setDay(item)"
    >
      <div class="month_day mb-2 fs-3">
        {{getMomentMonthDay(item)}}
      </div>
      <div class="week_day">
        {{getMomentWeekDay(item)}}
      </div>
    </button>
  </div>

</div>
