* {
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

.section_title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
  height: 29px;
}

.cards_wrapper{
  padding: 0 5vw;
  gap: 0.8rem;
  width: 100vw;
  overflow: auto;
  transform: translateX(-5vw);
  display: flex;
  align-items: center;
  height: 88px;
}

.card_day{
  margin: 0;
  padding: 1rem;
  line-height: 1;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 100%;
  width: 65px;
  scroll-snap-align: start;
  scroll-margin-left: 5vw;
  scroll-margin-right: 5vw;
  color: var(--app-color-text);
  cursor: pointer;
  .month_day{
    font-size: 1.8em;
    font-weight: bold;
  }
  .week_day{
    font-size: .8em;
  }
  &.active{
    color: var(--app-color-bg);
    background-color: var(--app-color-primary);
    border-color: var(--app-color-primary);
    font-weight: bold;
  }
}
