* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.base_container{
  transition: all 0.3s var(--default-transition) !important;
  background-color: var(--app-color-input-bg);
  color: var(--app-color-input-text);
  border: none;
  padding: .8rem 0;
  border-radius: var(--global-border-radius);
  &.expand{
    padding: 1rem 0;
    .section_title{
      font-size: 1rem;
    }
    .cards_wrapper{
      display: flex;
    }
  }
}

.icon_area{
  font-size: .8rem;
  i{
    margin-left: .8rem;
  }
  &.expand i{
    transform: rotate(180deg);
  }
}

.section_title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  font-size: .8rem;
  margin: 0;
  margin: 0 1rem;
  color: var(--app-color-text);
}

.cards_wrapper{
  gap: 0.25rem;
  width: 100%;
  overflow: auto;
  display: none;
  align-items: center;
  padding: 2px 1rem;
  margin-top: .5rem;
}

.card_item{
  margin: 0;
  line-height: 1;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 100%;
  scroll-snap-align: start;
  scroll-margin-left: 5vw;
  color: var(--app-color-text);
  background-color: var(--body-bg-color);
  border-radius: 10px;
  padding: 0.25rem 0.5rem;
  padding-right: 0.85rem;
  gap: 0.5rem;
  font-size: 13px;
  transition: all 0.3s var(--default-transition);
  &.active{
    outline: 2px solid;
  }
  &.inactive{
    opacity: .5;
  }
  .picture{
    background-color: transparent;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1rem;
  }
}
