button{
  cursor: pointer;
}

.btn.btn-primary-color{
  font-weight: 600;
  cursor: pointer;
  border: 2px solid var(--main);
  background-color: var(--main);
  color: white;
  // color: var(--body-bg-color-darker);
  border-radius: var(--global-border-radius);
  padding: .5rem 1rem;
}

.btn.tooltip_btn{
  width: 2rem;
  height: 2rem;
  padding: 0;
  border-radius: 50%;
  color: var(--app-color-text);
  background-color: var(--body-bg-color-alt);
  border: none;
}

.btn.outline{
  background-color: transparent;
  color: var(--main);
  border: 2px solid;
}

.btn.btn_light{
  background-color: var(--app-color-text);
  border-color: var(--app-color-text);
}

.btn.circle{
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.btn_chip {
  position: relative;
  background-color: var(--body-bg-color-alt);
  border-radius: 50px;
  flex-shrink: 1;
  padding: 0.2rem 0.8rem;
  margin: 0;
  font-weight: 400;
  font-size: .7rem;
  color: var(--app-color-text);
  cursor: pointer;
  display: flex;
  gap: 0.3rem;
  align-items: center;
  border: 1px solid transparent;
  opacity: .5;
  &.active{
    opacity: 1;
    .close_icon{
      display: block;
    }
  }
  &.with_circle{
    padding-left: .25rem;
  }
  .circle{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    &.primary{
      background-color: var(--main);
    }
    &.secondary{
      background-color:  var(--secondary);
    }
  }
  .close_icon{
    display: none;
    margin-left: 0.5rem;
    width: 5px;
  }
}

.btn.btn-main{
  --bs-btn-color: #ffffff;
  --bs-btn-bg: var(--main);
  --bs-btn-border-color: var(--main);
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: var(--main-active);
  --bs-btn-hover-border-color: var(--main-active);
  --bs-btn-focus-shadow-rgb: 118, 126, 236;
  --bs-btn-active-color: #ffffff;
  --bs-btn-active-bg: var(--main-active);
  --bs-btn-active-border-color: var(--main-active);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #ffffff;
  --bs-btn-disabled-bg: var(--main);
  --bs-btn-disabled-border-color: var(--main);
}

.btn.btn-outline-main {
  --bs-btn-bg: var(--bs-body-bg);
  --bs-btn-color: var(--main);
  --bs-btn-border-color: var(--main);
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: var(--main);
  --bs-btn-hover-border-color: var(--main);
  --bs-btn-focus-shadow-rgb: 94, 103, 233;
  --bs-btn-active-color: #ffffff;
  --bs-btn-active-bg: var(--main);
  --bs-btn-active-border-color: var(--main);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--main);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--main);
  --bs-gradient: none;
}
.text-bg-main{
  color: #ffffff !important;
  background-color: RGBA(var(--main-rgb), var(--bs-bg-opacity, 1)) !important;
}
.text-main{
  color: rgba(var(--main-rgb), var(--bs-text-opacity)) !important;
}
.bg-main{
  background-color: rgba(var(--main-rgb), var(--bs-bg-opacity)) !important;
}
.border-main{
  border-color: rgba(var(--main-rgb), var(--bs-border-opacity)) !important;
}

.btn.btn-secondary{
  --bs-btn-color: #ffffff;
  --bs-btn-bg: var(--secondary);
  --bs-btn-border-color: var(--secondary);
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: var(--secondary-active);
  --bs-btn-hover-border-color: var(--secondary-active);
  --bs-btn-focus-shadow-rgb: 118, 126, 236;
  --bs-btn-active-color: #ffffff;
  --bs-btn-active-bg: var(--secondary-active);
  --bs-btn-active-border-color: var(--secondary-active);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #ffffff;
  --bs-btn-disabled-bg: var(--secondary);
  --bs-btn-disabled-border-color: var(--secondary);
}

.btn.btn-outline-secondary {
  --bs-btn-color: var(--secondary);
  --bs-btn-border-color: var(--secondary);
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: var(--secondary);
  --bs-btn-hover-border-color: var(--secondary);
  --bs-btn-focus-shadow-rgb: 94, 103, 233;
  --bs-btn-active-color: #ffffff;
  --bs-btn-active-bg: var(--secondary);
  --bs-btn-active-border-color: var(--secondary);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--secondary);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--secondary);
  --bs-gradient: none;
}
.text-bg-secondary{
  color: #ffffff !important;
  background-color: RGBA(var(--secondary-rgb), var(--bs-bg-opacity, 1)) !important;
}
.text-secondary{
  color: rgba(var(--secondary-rgb), var(--bs-text-opacity)) !important;
}
.bg-secondary{
  background-color: rgba(var(--secondary-rgb), var(--bs-bg-opacity)) !important;
}
.border-secondary{
  border-color: rgba(var(--secondary-rgb), var(--bs-border-opacity)) !important;
}
.form-check-input:checked {
  background-color: var(--main);
  border-color: var(--main);
}
