$main:                 #5e67e9;
$primary:              #0462ee;
$secondary:            #6c757d;
$secondary-light:      #e2e2e2;
$success:              #157a4b;
$info:                 #0dcaf0;
$warning:              #ffc107;
$danger:               #dc3545;
$light:                #f8f9fa;
$dark:                 #212529;

$blue:                 #0d6efd;
$indigo:               #6610f2;
$purple:               #6f42c1;
$main-color:           #5e67e9;
$pink:                 #d63384;
$red:                  #dc3545;
$orange:               #fd7e14;
$yellow:               #ffc107;
$green:                #198754;
$teal:                 #20c997;
$cyan:                 #0dcaf0;
$white:                #ffffff;
$black:                #000000;


:root {
  --bs-body-color-rgb: var(--bs-black-rgb);
  --body-bg-color: #eef1fa;
  --body-dark-bg-color: #1c1c1c;

  --main: var(--bs-main);
  --main-rgb: var(--bs-main-rgb);
  --main-active: #4b52ba;

  --secondary: var(--bs-secondary);
  --secondary-rgb: var(--bs-secondary-rgb);
  --secondary-active:  #4e5357;

  --main-color: var(--bs-main-color);
  --main-active-color: #4b52ba;

  --red-color: var(--bs-red);
  --red-active-color: #b02a37;

  --green-color: var(--bs-green);
  --green-active-color: #146c43;

  --orange-color: var(--bs-orange);
  --orange-active-color: #fd7e14;

  --pink-color: var(--bs-pink);
  --pink-active-color: #ab296a;


  --main-secondary-color: rgb(226, 226, 226);
  --bs-tertiary-bg: var(--main) !important;

  &.primary-main-color{
    --main: var(--main-color);
    --main-active: var(--main-active-color);
    --main-rgb: var(--bs-main-rgb);
  }
  &.primary-red{
    --main: var(--red-color);
    --main-active: var(--red-active-color);
    --main-rgb: var(--bs-red-rgb);
  }
  &.primary-green{
    --main: var(--green-color);
    --main-active: var(--green-active-color);
    --main-rgb: var(--bs-green-rgb);
  }
  &.primary-orange{
    --main: var(--orange-color);
    --main-active: var(--orange-active-color);
    --main-rgb: var(--bs-orange-rgb);
  }
  &.primary-pink{
    --main: var(--pink-color);
    --main-active: var(--pink-active-color);
    --main-rgb: var(--bs-pink-rgb);
  }

  &.secondary-main{
    --secondary: var(--secondary-color);
    --secondary-active: var(--secondary-active-color);
    --secondary-rgb: var(--bs-secondary-rgb);
  }
  &.secondary-red{
    --secondary: var(--red-color);
    --secondary-active: var(--red-active-color);
    --secondary-rgb: var(--bs-red-rgb);
  }
  &.secondary-green{
    --secondary: var(--green-color);
    --secondary-active: var(--green-active-color);
    --secondary-rgb: var(--bs-green-rgb);
  }
  &.secondary-orange{
    --secondary: var(--orange-color);
    --secondary-active: var(--orange-active-color);
    --secondary-rgb: var(--bs-orange-rgb);
  }
  &.secondary-pink{
    --secondary: var(--pink-color);
    --secondary-active: var(--pink-active-color);
    --secondary-rgb: var(--bs-pink-rgb);
  }

  &.dark-mode{
    --bs-body-color: #fff;
    --bs-body-color-rgb: var(--bs-white-rgb);
    --body-bg-color: var(--body-dark-bg-color);
    --bs-body-bg: #242424;
    --bs-body-bg-rgb: 36, 36, 36;
    --bs-secondary-color: #727272;
    --bs-border-color: #303030;
  }
}

$theme-colors: (
  'main':                   $main,
  "primary":                $primary,
  "secondary":              $secondary,
  'secondary-light':        $secondary-light,
  "success":                $success,
  "info":                   $info,
  "warning":                $warning,
  "danger":                 $danger,
  "light":                  $light,
  "dark":                   $dark,

  'main-color':              $main-color,
  "blue":                    $blue,
  "indigo":                  $indigo,
  "purple":                  $purple,
  "pink":                    $pink,
  "red":                     $red,
  "orange":                  $orange,
  "yellow":                  $yellow,
  "green":                   $green,
  "teal":                    $teal,
  "cyan":                    $cyan,
  "white":                   $white,
  "black":                   $black,
);

/* Importing Bootstrap SCSS file. */
@import "../../../../node_modules/bootstrap/scss/bootstrap";


.border-body{
  border-color: var(--bs-body-bg) !important;
}

.border-transparent{
  border-color: transparent !important;
}
