.dropdown-menu.show {
  transform: translateY(10px) !important;
  font-size: 0.8rem;
}

[aria-controls="dropdown"][aria-expanded="true"] {
  &.border-0::before {
    --border-width: 0px;
  }
  &.border-1::before {
    --border-width: 1px;
  }
  &.border-2::before {
    --border-width: 2px;
  }
  &.border-3::before {
    --border-width: 3px;
  }
  &.border-4::before {
    --border-width: 4px;
  }
  &.border-5::before {
    --border-width: 5px;
  }
  &::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top: calc(100% + (var(--border-width) + 1px));
    left: 50%;
    transform: translate(-50%, 100%);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
  }
}
