<section class="container-fluid position-relative w-100 p-0 hide-scrollbar">
  <div class="container base_container h-100 d-flex flex-column" [class.hide]="hide">
    <div class="container_header my-3">
      <app-logo></app-logo>
    </div>

    <div class="container_content d-flex flex-column">
      <app-FormInput
      [formTitle]="'Registrar'"
      [inputs]="registerForm"
      [marginOnSubmit]="false"
      [submitText]="'Enviar'"
      (submitAction)="onSubmit($event)" ></app-FormInput>
    </div>

    <div class="container_footer">
      <a (click)="goToRoute('/Login')" class="primary">
        <i class="fa-solid fa-arrow-left"></i>
        <span class="px-4">Voltar</span>
      </a>
    </div>
  </div>
</section>
