<div class="auth-bg w-100 h-100 position-absolute top-0 left-0"></div>

<section class="container-fluid position-relative w-100 overflow-hidden p-0 bg-black bg-opacity-50">
  <div class="container base_container h-100 overflow-auto d-flex flex-column" [class.hide]="hide">
    <div class="container_header">
      <app-logo></app-logo>
    </div>

    <div class="container_content d-flex flex-column">
      <h2 class="form_title text-white">Registrar</h2>
      <app-FormInput [inputs]="registerForm" [marginOnSubmit]="false" [submitText]="'Enviar'" (submitAction)="onSubmit($event)" ></app-FormInput>
    </div>

    <div class="container_footer text-white">
      <a (click)="goToRoute('/Login')" class="primary">
        <i class="fa-solid fa-arrow-left"></i>
        <span class="px-4">Voltar</span>
      </a>
    </div>
  </div>
</section>
