<div class="modal_container_bg" [class.active]="showModal">
  <div class="container modal_container">
    <div class="header">
      <h3>Novo Agendamento</h3>
      <button class="btn_close" (click)="onCancel()">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    <hr />


    <button class="btn_close" (click)="onCancel()">
      <i class="fa-solid fa-xmark"></i>
    </button>
    <button class="btn_close" (click)="onConfirm()">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
</div>
