.modal_container_bg{
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  background-color: rgba($color: #000000, $alpha: 0);
  padding: 5vw 0;
  display: flex;
  align-items: center;
  transition: all .2s ease;
  .modal_container{
    transform: translateY(100%);
    opacity: 0;
  }
  &.active{
    visibility: visible;
    background-color: rgba($color: #000000, $alpha: 0.75);
    .modal_container{
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.modal_container{
  padding: .75rem;
  background-color: var(--app-color-bg-alt);
  border-radius: var(--global-border-radius);
  line-height: 1;
  .header{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    .btn_close{
      width: 30px;
      height: 30px;
      border: none;
      background-color: transparent;
      color: var(--app-color-text);
      border-radius: 50%;
      text-align: center;
      font-size: 1.2rem;
      display: grid;
      align-content: center;
    }
  }
}

.btn_submit{
  margin-top: 1.2rem;
}
