section{
  height: 100vh;
  background-color: var(--app-color-bg);
  display: flex;
  align-items: center;
  img#banner_img{
    display: none;
    height: 100%;
    width: 55%;
    object-fit: cover;
    mix-blend-mode: luminosity;
    opacity: .7;
  }
}

.register_container{
  max-width: 400px;
  position: relative;
  height: 80%;
  align-items: center;
  justify-content: center;
}

.container_content{
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

.register_form{
  width: 90%;
  max-width: max-content;
  gap: .5rem;
  margin: 1rem auto;
  .form_group{
    position: relative;
    gap: .5rem;
    display: flex;
    flex-wrap: wrap;
    >*{
      flex-grow: 1;
    }
    #form-email, #form-password{
      width: 100%;
    }
  }
  .form_title{
    margin: 1rem 0;
  }
  .btn_submit{
    margin: 1rem 0;
  }
}

a{
  flex-grow: 0;
  font-size: small;
  width: fit-content;
}

@media (min-width:768px) {
  section img#banner_img{
    display: block;
  }
}

@media (min-width:1024px) {
  section img#banner_img{
    width: 60%;
  }
}
