@import '../../Shared/Styles/LoginPage.scss';

.register_form{
  width: 90%;
  max-width: max-content;
  gap: .5rem;
  margin: 1rem auto;
  .form_group{
    position: relative;
    gap: .5rem;
    display: flex;
    flex-wrap: wrap;
    >*{
      flex-grow: 1;
    }
    #form-email, #form-password{
      width: 100%;
    }
  }
  .btn_submit{
    margin: 1rem 0;
  }
}
