section{
  height: 100vh;
  background-color: var(--app-color-bg);
  display: flex;
  align-items: center;
  img#banner_img{
    display: none;
    height: 100%;
    width: 55%;
    object-fit: cover;
    mix-blend-mode: luminosity;
    opacity: .7;
  }
}

.container_header{
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: -8%;
  img{
    width: 100%;
    height: auto;
    aspect-ratio: 2/1;
    object-fit: cover;
  }
}

.register_container{
  max-width: 400px;
  position: relative;
  height: 80%;
  padding-top: 20%;
  align-items: center;
  justify-content: center;
  .container_content{
    animation: show_content .3s var(--default-transition) forwards;
  }
  .container_footer{
    animation: show_footer .3s var(--default-transition) forwards;
  }
  &.hide{
    pointer-events: none;
    .container_content{
      animation: hide_content .3s var(--default-transition) forwards;
    }
    .container_footer{
      animation: hide_footer .3s var(--default-transition) forwards;
    }
  }
}

.container_content{
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

.register_form{
  width: 90%;
  max-width: max-content;
  gap: .5rem;
  margin: 1rem auto;
  .form_group{
    position: relative;
    gap: .5rem;
    display: flex;
    flex-wrap: wrap;
    >*{
      flex-grow: 1;
    }
    #form-email, #form-password{
      width: 100%;
    }
  }
  .form_title{
    margin: 1rem 0;
  }
  .btn_submit{
    margin: 1rem 0;
  }
}

a{
  cursor: pointer;
  flex-grow: 0;
  font-size: small;
  width: fit-content;
}

@keyframes show_content {
  0%{
    transform: translateY(20%);
    opacity: 0;
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hide_content {
  0%{
    transform: translateY(0);
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: translateY(20%);
  }
}

@keyframes show_footer {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes hide_footer {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@media (min-width:768px) {
  section img#banner_img{
    display: block;
  }
}

@media (min-width:1024px) {
  section img#banner_img{
    width: 60%;
  }
}
