<div class="section_container">
  <div class="cards_container no-margin">
    <div class="section_title pad-x">
      <h3 class="title">Dashboard</h3>
      <button class="btn tooltip_btn">
        <i class="fa-solid fa-question"></i>
      </button>
    </div>

    <section class="animate_show section_container no-margin flex_column">

      <section class="animate_show periodo pad-x">
        <div class="section_header d-flex justify-between  ">
          <h4 class="title">Período</h4>
          <div class="quick_dates chips_group d-flex">
            <div class="card card_date card_chip" [class.active]="quickDate == 'week'" (click)="setQuickDate('week')"  >Semana</div>
            <div class="card card_date card_chip" [class.active]="quickDate == 'month'" (click)="setQuickDate('month')"  >Mês</div>
            <div class="card card_date card_chip" [class.active]="quickDate == 'year'" (click)="setQuickDate('year')"  >Ano</div>
          </div>
        </div>
        <div class="datas d-flex  ">
          <input type="date" (change)="dateChanged()" [(ngModel)]="startDate">
          <input type="date" (change)="dateChanged()" [(ngModel)]="endDate">
        </div>

      </section>

      <section class="animate_show container">
        <div class="wrapper">
          <div class="card card-chart income-chart card_item medium-height">
            <div class="card_content">
              <h5>Receita</h5>
              <p>{{formatToMoney(totalInPeriod)}}</p>
            </div>
            <div class="chart_container">
              <canvas id="income-chart"></canvas>
            </div>
          </div>
        </div>
      </section>

      <ng-container *ngIf="topEmployees.length > 0">
        <section class="animate_show card container top5_section">
          <div class="section_header d-flex justify-between  ">
            <h5 class="title">Funcionários</h5>
          </div>

            <div class="wrapper animate_show flex_column">

              <ng-container *ngFor="let item of topEmployees; let i = index">
                <app-BarberCard
                [model]="item.employee"
                [showLastName]="false"
                [bigInfo]="formatToMoney(item.totalValue)"
                [noBorder]="i === topEmployees.length -1"
                [smallInfo]="item.count + (item.count > 1? ' agendamentos': ' agendamento')"></app-BarberCard>
              </ng-container>
            </div>

        </section>
      </ng-container>

      <ng-container *ngIf="topClients.length > 0">
        <section class="animate_show card container top5_section">
          <div class="section_header d-flex justify-between  ">
            <h5 class="title">Clientes</h5>
          </div>

          <div class="wrapper animate_show flex_column">
            <ng-container *ngFor="let item of topClients; let i = index">
              <app-ClientCard
              [model]="item.client"
              [bigInfo]="formatToMoney(item.totalValue)"
              [noBorder]="i === topClients.length -1"
              [smallInfo]="item.count + (item.count > 1? ' visitas': ' visita')"></app-ClientCard>
            </ng-container>
          </div>

        </section>
      </ng-container>

    </section>

  </div>
</div>
