<div class="section_container">
  <div class="cards_container no-margin">
    <div class="section_title pad-x">
      <h3 class="title">Dashboard</h3>
      <button class="btn tooltip_btn">
        <i class="fa-solid fa-question"></i>
      </button>
    </div>

    <section class="animate_show section_container no-margin flex_column">

      <section class="animate_show periodo pad-x">
        <div class="section_header d-flex justify-between  ">
          <h4 class="title">Período</h4>
          <div class="quick_dates chips_group d-flex">
            <div class="card card_date card_chip" [class.active]="quickDate == 'week'" (click)="setQuickDate('week')"  >Semana</div>
            <div class="card card_date card_chip" [class.active]="quickDate == 'month'" (click)="setQuickDate('month')"  >Mês</div>
            <div class="card card_date card_chip" [class.active]="quickDate == 'year'" (click)="setQuickDate('year')"  >Ano</div>
          </div>
        </div>
        <div class="datas d-flex  ">
          <input type="date" (change)="dateChanged()" [(ngModel)]="startDate">
          <input type="date" (change)="dateChanged()" [(ngModel)]="endDate">
        </div>

      </section>

      <section class="animate_show linha pad-x">
        <h4 class="title  ">Estatísticas</h4>
        <div class="wrapper  ">
          <div class="nowrap">
            <div class="card income-chart card_item biggest-height">
              <canvas id="income-chart"></canvas>
            </div>
            <!-- <div class="card card_item biggest-height">
              <canvas id="schedules_count-chart"></canvas>
            </div> -->
          </div>
        </div>
      </section>

      <!-- <section class="animate_show grade">
        <h4 class="title  ">Financeiro</h4>
        <div class="wrapper grid  ">
          <div class="card col-2 card_item medium-height">
            Primeiro
          </div>
        </div>
      </section> -->

      <section class="animate_show grade pad-x top5_section">
        <div class="section_header d-flex justify-between  ">
          <h4 class="title">Top 5</h4>
          <div class="top5_group chips_group d-flex">
            <div class="card card_chip" [class.active]="top5 == 'func'" (click)="setTop5('func')">
              Funcionários
            </div>
            <div class="card card_chip" [class.active]="top5 == 'clients'" (click)="setTop5('clients')">
              Clientes
            </div>
          </div>
        </div>

          <ng-container *ngIf="top5 === 'func'">
            <div class="wrapper animate_show grid  ">
              <div *ngFor="let item of topEmployees; let i = index"
              class="card card_item col-2"
              [class.big-height]="i === 0"
              [class.medium-height]="i !== 0"
              >
                <div class="picture" *ngIf="i === 0">
                  <i class="fa-solid fa-trophy"></i>
                </div>
                <div class="content">
                  <h4>{{item.name}}</h4>
                  <p>{{item.total}}</p>
                </div>
              </div>
            </div>

          </ng-container>

          <ng-container *ngIf="top5 === 'clients'">
            <div class="wrapper animate_show grid  ">
              <div *ngFor="let item of topClients; let i = index"
              class="card card_item"
              [class.big-height]="i === 0"
              [class.col-2]="i === 0"
              [class.medium-height]="i !== 0"
              >
                <div class="picture" *ngIf="i === 0">
                  <i class="fa-solid fa-trophy"></i>
                </div>
                <div class="content">
                  <h4>{{item.name}}</h4>
                  <p>{{item.schedulingCount}}</p>
                </div>
              </div>
            </div>
          </ng-container>

      </section>
    </section>

  </div>
</div>
