<div
class="base_bg d-flex"
[class.show]="showSidebar"
[class.collapse]="!showSidebar"
id="base-bg">
  <div class="base_container btn-outline-primary d-flex flex-column pt-0 border-end">

    <div class="user_container mb-3">

    </div>
    <nav class="sidebar_nav flex-grow-1">
      <ul class="nav_list">
        <li class="nav_item"  >
          <a routerLink="/Dashboard" routerLinkActive="active">
            <i class="fa-solid fa-chart-line"></i>
          <span>
            Relatórios
          </span>
          </a>
        </li>
        <li class="nav_item"  >
          <a routerLink="/Schedules" routerLinkActive="active">
            <i class="fa-solid fa-calendar-week"></i>
          <span>
            Agenda
          </span>
          </a>
        </li>
        <li class="nav_item"  >
          <a routerLink="/History" routerLinkActive="active">
            <i class="fa-solid fa-clock-rotate-left"></i>
          <span>
            Histórico
          </span>
          </a>
        </li>
        <li *ngIf="isAdmin" class="nav_item"  >
          <a routerLink="/Employees" routerLinkActive="active">
            <i class="fa-solid fa-people-group"></i>
          <span>
            Funcionários
          </span>
          </a>
        </li>
        <li class="nav_item"  >
          <a routerLink="/Services" routerLinkActive="active">
          <i class="fa-solid fa-screwdriver-wrench"></i>
          <span>
            Serviços
          </span>
          </a>
        </li>
        <li class="nav_item"  >
          <a routerLink="/Classes" routerLinkActive="active">
            <i class="fa-solid fa-user-group"></i>
            <span>
              Turmas
            </span>
          </a>
        </li>
        <li class="nav_item"  >
          <a routerLink="/Clients" routerLinkActive="active">
            <i class="fa-solid fa-user-group"></i>
            <span>
              Clientes
            </span>
          </a>
        </li>
        <li class="nav_item"  >
          <a routerLink="/WorkFlow" routerLinkActive="active">
          <i class="fa-solid fa-briefcase"></i>
          <span>
            Horários
          </span>
          </a>
        </li>
        <!-- <li class="nav_item"  >
          <a routerLink="/Account" routerLinkActive="active">
          <i class="fa-solid fa-user-pen"></i>
          <span>
            Editar
          </span>
          </a>
        </li> -->
      </ul>
      <li class="nav_item mt-auto last" (click)="logout()" >
        <div>
          <span>
            Logout
          </span>
        </div>
      </li>
    </nav>

  </div>
  <div class="empty_area" (click)="closeSidebar()">

  </div>
</div>
