
.section_container{
  flex-grow: 1;
  padding: var(--section-padding);
  padding-left: 0;
  padding-right: 0;
}

.table_container{
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--app-color-input-bg);
  border: 1px solid var(--app-color-input-bg);
  line-height: 1.5;

  .section_title, .section-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem;
    padding-left: 0.85rem;
    background-color: var(--body-bg-color-alt);
    text-align: left;
  }

  .time_header{
    min-width: 6rem;
  }

  .flex-grow{
    flex-grow: 1;
  }

  .workdays_container{
    gap: 1px;
  }
}

.interval_time_container{
  font-size: .85rem;
  margin-top: 1rem;
  border-radius: var(--global-border-radius);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  background-color: var(--app-color-input-bg);
  padding: 0.5rem 1rem;
}

