.modal_container{
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

form .btn.btn_submit{
  margin-top: auto;
}

.cards_group{
  background-color: var(--app-color-input-bg);
  border-radius: var(--global-border-radius);
  width: 100%;
  padding: 0.5rem 0.75rem;
}

.group_title{
  padding: 0.5rem;
  text-align: left;
}

.mini_card{
  color: var(--app-color-input-text);
  justify-content: space-between;
  font-size: .8em;
  border: none;
  border-radius: 0;
  background-color: transparent;
  &.active{
    color: var(--main-color);
  }
}

.services_total{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-top: 1px solid var(--app-color-input-text);
}
