
<div class="edit_container animate_show container">

  <div class="d-flex align-items-start justify-content-evenly mb-3 row flex-nowrap">
    <ng-container *ngFor="let item of formTitles; let i = index">
      <div class="d-flex flex-column align-items-center col p-0 m-0 text-center">
        <button
        style="width: 50px; aspect-ratio: 1; font-size: 1.25rem;"
        [class.active]="formIndex === i"
        (click)="formIndex = i"
        class="rounded-pill btn btn-outline-main p-0 m-0">
        {{i}}
        </button>
        <p
        [class.text-muted]="formIndex !== i"
        class="mt-2 small d-none d-md-block">{{formTitles[i]}}</p>
      </div>
    </ng-container>
  </div>

  <ng-container *ngFor="let item of modalInputs; let i = index">
    <ng-container *ngIf="formIndex === i">
      <app-FormInput
      class="animate_show"
      [inputs]="modalInputs[i]"
      [formTitle]="formTitles[i]"
      [titleOnMobileOnly]="true"
      [submitText]="i < modalInputs.length -1? 'Próximo' : (isUserEditLevel? 'Salvar' : 'Voltar')"
      [extraBtnLeft]="i > 0? backBtn: undefined"
      (submitAction)="onSubmit($event)" ></app-FormInput>
    </ng-container>
  </ng-container>

</div>
