.card.workday.inactive{
  opacity: .25;
}

.content{
  overflow: visible;
}

.desc_area span{
  position: relative;
}

input[type=time]{
  position: absolute;
  padding: 0;
  height: 0;
  width: 0;
  bottom: 0;
  left: 0;
}
