<div class="page_container">

  <div class="cards_container container">

    <div class="section_title">
      <button class="btn btn_return" *ngIf="headerUrl !== 'Serviços'"  (click)="onCancel()" >
        <i class="fa-solid fa-arrow-left"></i>
      </button>
      <h3 class="title me-auto">{{headerUrl}}</h3>
      <button class="btn tooltip_btn">
        <i class="fa-solid fa-question"></i>
      </button>
    </div>


    <section class="router_container">
      <router-outlet></router-outlet>
    </section>


  </div>
</div>
