
:host{
  flex-grow: 1;
  display: contents;
}

.section_container{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.cards_container{
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.edit_container{
  display: grid;
  gap: .5rem;
  padding: 0 0 1rem;
}


.section_title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.8rem;
  height: 40px;
}


.btn_container{
  width: 100%;
  position: sticky;
  bottom: 0;
  transform: translateY(5vw);
  border-bottom: 5vw solid var(--body-bg-color);
  box-shadow: 0px 0px 10px 8px var(--body-bg-color);
  background-color: var(--body-bg-color);
  .btn_new{
    width: 100%;
  }
}
