:host{
  flex-grow: 1;
}
.page_container{
  min-height: 100%;
  position: relative;
  display: grid;
}

.section_container, .page_container{
  animation: .2s sectionShow forwards;
  display: flex;
  flex-direction: column;
}

.cards_container{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.section_title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.8rem;
  height: 40px;
}

section.router_container{
  flex-grow: 1;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.btn_return{
  flex-shrink: 0;
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  padding: 0;
  border-radius: 50% 50%;
  border: none;
  color: inherit;
}
