<div class="card border-0 flex-row shadow-sm">

  <div class="card-body p-3 my-auto d-flex justify-content-between overflow-x-hidden overflow-y-visible align-items-center fs-6 w-100">
    <h5 class="card-title m-0 small flex-shrink-0 me-3">{{title}}</h5>
    <h6 class="card-subtitle text-body-secondary d-flex flex-nowrap text-end overflow-x-hidden overflow-y-visible small m-0 ms-auto flex-shrink-1">
      {{content}}
    </h6>
    <i class="fa-solid fa-chevron-right ps-2 flex-shrink-0"></i>
  </div>

</div>
