<section class="container-fluid position-relative w-100 p-0 hide-scrollbar">
  <div class="container base_container h-100" [class.hide]="hide">
    <div class="container_header my-3">
      <app-logo></app-logo>
    </div>

    <div class="container_content d-flex flex-column">
      <app-FormInput
      [formTitle]="'Login'"
      [inputs]="loginForm"
      [marginOnSubmit]="false"
      [submitText]="'Entrar'"
      (submitAction)="onSubmit($event)" ></app-FormInput>
    </div>

    <div class="container_footer">
      <a (click)="goToRoute('/Register')"  class="primary" id="new_user">
        <i class="fa-solid fa-right-to-bracket"></i>
        <span class="px-4">Criar Conta</span>
      </a>
    </div>
  </div>
</section>
