nav{
  position: sticky;
  height: 5.5rem;
  background-color: var(--app-color-bg-alt);
  border-bottom: 1px solid  var(--app-color-light-border);
  box-shadow: 0px 3px 5px 0px var(--app-color-bg);
  z-index: var(--nav-zindex);
  &.adminBoardVisible{
    border-bottom: 1px solid  transparent;
    box-shadow: 0px 0px 0px 0px var(--app-color-bg);
  }
}

.nav_container{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .75rem;
  >*{
    flex-grow: 0;
  }
  .nav_text{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    overflow: hidden;
    .welcome{
      opacity: .8;
      font-size: .9rem;
    }
    .user_name{
      color: var(--app-color-primary);
      text-transform: capitalize;
      font-weight: 600;
      font-size: 1.2rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .nav_profile{
    flex-shrink: 0;
    background-color: var(--app-color-input-bg);
    color: var(--app-color-text);
    font-size: 1.25rem;
    cursor: pointer;
    border: none;
    position: relative;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: right;
      border-radius: 50%;
    }
    .nav_button{
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      border: none;
      bottom: 0;
      width: .9rem;
      height: .9rem;
      font-size: .5rem;
      background-color: var(--app-color-text);
    }
  }
}

.time_now{
  display: flex;
  width: 6rem;
  flex-shrink: 0;
  line-height: 1.2;
  font-size: 2rem;
  font-weight: 600;
  justify-content: flex-end;
}

// .separator{
//   animation: blink 2s   infinite forwards ;
// }

.nav_list_container {
  width: 100vw;
  height: 4rem;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: var(--app-color-bg-alt);
  border-top: 1px solid var(--app-color-light-border);
  box-shadow: 0px -3px 5px 0px var(--app-color-bg);
  transition: all .5s ease-in-out;
  &.hide{
    transform: translateY(100vh);
  }
  .nav_list{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: .5rem;
    padding: .5rem;
    .nav_item{
      cursor: pointer;
      flex-grow: 1;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      font-weight: 600;
      opacity: .35;
      .nav_item_title{
        display: none;
        font-size: 1rem;
        font-weight: normal;
      }
      &.active{
        color: var(--app-color-primary);
        opacity: 1;
        i{
          transform: scale(1.25);
        }
      }
    }
  }
}

.sidebar_toggle{
  position: absolute;
  display: grid;
  place-items: center;
  font-size: 12px;
  width: 24px;
  height: 24px;
  background-color: var(--app-color-bg-alt);
  border-radius: 50%;
  top: -8px;
  left: -8px;
}

@keyframes blink {
  0%,
  49%{
    opacity: 1;
  }
  50%, 100%{
    opacity: 0;
  }
}

@media (min-width: 1024px) {
  .nav_list_container{
    width: auto;
    height: auto;
    position: relative;
    background-color: transparent;
    border: none;
    box-shadow: none;
    .nav_list .nav_item{
      width: auto;
      height: auto;
      padding: .5rem 1rem;
      outline: 2px solid transparent;
      &.active{
        color: var(--app-color-text);
        border-radius: 50px;
        outline: 2px solid;
      }
    }
  }
}


@media (min-width: 1280px) {
  .nav_list_container{
    .nav_list .nav_item{
      i{
        display: none;
      }
      .nav_item_title{
        display: block;
      }
    }
  }
}
