<app-Sidebar *ngIf="sidebarExpanded" [navBar]="this"></app-Sidebar>
<nav class="container_fluid">
  <div class="container nav_container">
    <button class="nav_profile" (click)="sidebarExpanded = !sidebarExpanded">
      <img *ngIf="profilePic" src="{{ profilePic }}" alt="" srcset="" />
      <i class="fa-solid fa-user placeholder_icon"></i>
      <div class="sidebar_toggle">
        <i class="fa-solid fa-bars"></i>
      </div>
    </button>
    <div class="nav_text">
      <span class="welcome">Bem vindo, </span>
      <span class="user_name">{{
        loggedUser.firstName + " " + loggedUser.lastName
      }}</span>
    </div>
    <div class="time_now">
      {{timeHours}}<div class="separator">:</div>{{timeMinutes}}
    </div>
    <div class="nav_list_container">
      <ul class="nav_list">
        <li
          class="nav_item"
          [class.active]="currentSection == 0"
          (click)="currentSection = 0" >
          <i class="fa-solid fa-calendar-week"></i>
          <div class="nav_item_title">Agenda</div>
        </li>

        <li
          class="nav_item"
          [class.active]="currentSection == 3"
          (click)="currentSection = 3"
          *ngIf="isAdmin">
          <i class="fa-solid fa-people-group"></i>
          <div class="nav_item_title">Funcionários</div>
        </li>

        <li
          class="nav_item"
          [class.active]="currentSection == 2"
          (click)="currentSection = 2" >
          <i class="fa-solid fa-scissors"></i>
          <div class="nav_item_title">Serviços</div>
        </li>

        <li
          class="nav_item"
          [class.active]="currentSection == 1"
          (click)="currentSection = 1" >
          <i class="fa-solid fa-user-group"></i>
          <div class="nav_item_title">Clientes</div>
        </li>

        <li
          class="nav_item"
          [class.active]="currentSection == 4"
          (click)="currentSection = 4" >
          <i class="fa-solid fa-clock-rotate-left"></i>
          <div class="nav_item_title">Histórico</div>
        </li>

      </ul>
    </div>
  </div>
</nav>

<ng-container *ngIf="!isBlocked && isAdmin && (currentSection == 0 || currentSection == 2 || currentSection == 4)">
  <app-AdminBoard></app-AdminBoard>
</ng-container>
