nav{
  position: sticky;
  height: 5.5rem;
  background-color: var(--app-color-bg-alt);
  border-bottom: 1px solid  var(--app-color-light-border);
  box-shadow: 0px 3px 5px 0px var(--app-color-bg);
  z-index: var(--nav-zindex);
}

.nav_container{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .75rem;
  >*{
    flex-grow: 0;
  }
  .sidebar_toogle{
    background-color: transparent;
    border: none;
    color: var(--app-color-text);
    font-size: 1.25rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
    cursor: pointer;
  }
  .nav_text{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    .welcome{
      opacity: .8;
      font-size: .9rem;
    }
    .user_name{
      color: var(--app-color-primary);
      text-transform: capitalize;
      font-weight: 600;
      font-size: 1.2rem;
    }
  }
  .nav_profile{
    background-color: var(--app-color-input-bg);
    color: var(--app-color-text);
    font-size: 1.25rem;
    cursor: pointer;
    border: none;
    position: relative;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: right;
      border-radius: 50%;
    }
    .nav_button{
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      border: none;
      bottom: 0;
      width: .9rem;
      height: .9rem;
      font-size: .5rem;
      background-color: var(--app-color-text);
    }
  }
}

.nav_list_container {
  width: 100vw;
  height: 4rem;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: var(--app-color-bg-alt);
  border-top: 1px solid var(--app-color-light-border);
  box-shadow: 0px -3px 5px 0px var(--app-color-bg);
  transition: all .5s ease-in-out;
  &.hide{
    transform: translateY(100vh);
  }
  .nav_list{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: .5rem;
    padding: .5rem;
    .nav_item{
      flex-grow: 1;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      line-height: 1;
      font-weight: 600;
      .nav_item_title{
        font-size: 0;
      }
      &.active{
        gap: 0.5rem;
        color: var(--app-color-primary);
        i{
          font-size: 1.2rem;
        }
        .nav_item_title{
          font-size: .7em;
        }
      }
    }
  }
}


.barber_container{
  border-radius: 0;
  width: 100%;
  text-align: left;
  font-size: .8rem;
  gap: .2rem;
  justify-content: space-between;
  overflow: hidden;
  height: 2.5rem;
  padding: 0.35rem;
  &.expand{
    height: auto;
  }
  .title{
    margin: 0.25rem;
  }
}

.barber_cards{
  gap: .35rem;
  max-width: 50%;
}

.barber_card{
  font-size: .7rem;
  margin: 0;
  border-radius: 50px;
  padding: 0.25rem 0.75rem;
  align-items: center;
  i {
    display: none;
    color: var(--app-color-text);
  }
  &.active i{
      display: block;
  }
}
i.expand{
  transform: rotate(180deg);
}
