<ng-container *ngIf="show">
  <div class="barber_container no-shadow card" [class.expand]="agendaExpanded">
    <div class="container">
      <div class="title">Visão do funcionário:</div>
      <div class="barber_cards d-flex flex-column">
        <div class="barber_card card" *ngFor="let item of barberList" [class.active]="selectedBarber == item" (click)="setAgenda(item)" >
          {{item.firstName}} {{item.lastName}}
          <i class="fa-solid fa-chevron-down primary" *ngIf="barberList.length > 1"></i>
        </div>
      </div>
    </div>
    <div class="cancel_area" *ngIf="agendaExpanded" (click)="agendaExpanded = false" ></div>
  </div>
</ng-container>
