<div class="edit_container animate_show container">

  <form
  class="card p-2 p-md-3 mb-3 border shadow-sm overflow-auto" action="" (submit)="onSubmit()">
    <div
    class="border rounded shadow-sm mb-2">
      <input
      style="padding: 1rem 0.75rem;"
      type="text"
      class="form-control border-0"
      id="floatingInput"
      name="name"
      [(ngModel)]="classModel.name"
      [readonly]="!isAdmin"
      placeholder="Nome da turma">
    </div>

    <app-default-table [table]="clientsTable()" [customHeight]="'calc(65vh - var(--nav-height))'"></app-default-table>

    <button type="submit" class="btn btn-main me-auto px-4 py-2 mt-2">
      Salvar
    </button>
  </form>
</div>
