
nav{
  height: var(--nav-height);
  background-color: var(--body-bg-color);
  z-index: var(--nav-zindex);
}

.nav_container{
  height: 100%;
  display: flex;
  align-items: center;
  gap: .75rem;
  .nav_profile{
    font-size: 1.25rem;
    cursor: pointer;
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    img{
      object-fit: cover;
      border-radius: inherit;
      border-style: solid;
    }
    .nav_button{
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      border: none;
      bottom: 0;
      width: .9rem;
      height: .9rem;
      font-size: .5rem;
      background-color: var(--app-color-text);
    }
  }
}

// .separator{
//   animation: blink 2s   infinite forwards ;
// }

.sidebar_toggle{
  display: grid;
  place-items: center;
  width: 2.5rem;
  height: 2.5rem;
}

@keyframes blink {
  0%,
  49%{
    opacity: 1;
  }
  50%, 100%{
    opacity: 0;
  }
}


@media (min-width: 1080px){
  .router-name{
    display: flex !important;
  }
  .sidebar_toggle{
    display: none !important;
  }

  .search-bar{
    width: 420px;
    .search-input{
      padding-right: 40px;
      width: auto;
    }
    .search-btn{
      color: var(--bs-btn-active-color);
      background-color: var(--bs-btn-active-bg);
      border-color: var(--bs-btn-active-border-color);
    }
  }
}

@media (max-width: 1079px){
  .search-bar{
    max-width: 420px;
    .search-icon{
      position: absolute;
      left: 25%;
    }
    &:not(.expand){
      width: 40px;
      .search-input{
        padding: 0;
        padding-right: 40px;
        width: 0;
      }
    }
    &.expand{
      width: auto;
      flex-grow: 1;
      .search-input{
        padding-right: 40px;
        width: auto;
      }
    }
  }
}
