@import '../../Shared/Styles/LoginPage.scss';

.login_container{
  max-width: 400px;
  position: relative;
  height: 90%;
  display: grid;
  place-items: center;
  overflow: auto;
  grid-template-rows: 20% 70% 10%;
  .container_content{
    animation: show_content .3s var(--default-transition) forwards;
  }
  .container_footer{
    animation: show_footer .3s var(--default-transition) forwards;
    display: grid;
    place-items: center;
    height: 100%;
  }
  &.hide{
    pointer-events: none;
    .container_content{
      animation: hide_content .3s var(--default-transition) forwards;
    }
    .container_footer{
      animation: hide_footer .3s var(--default-transition) forwards;
    }
  }
}

.login_form{
  width: 90%;
  gap: .5rem;
  margin: 1rem auto;
  .form_title{
    margin: 1rem 0;
  }
  .form_group{
    position: relative;
  }
  .btn_submit{
    margin: 1rem 0;
    font-weight: 600;
  }
}
