<div class="base_container" [class.expand]="expand">

  <div class="section_title" (click)="expand = !expand"  >
    Serviços
    <div class="icon_area" [class.expand]="expand">
      <!-- {{selectedTime}} -->
      <i class="fa-solid fa-chevron-down"></i>
    </div>
  </div>
  <div class="cards_wrapper">
    <ng-container
    *ngFor="let item of serviceTypes"
    >
      <div
      class="card card_item"
      [class.inactive]="!hasService(item)"
      [class.active]="hasService(item)"
      (click)="addToList(item)"
      >
      <div class="picture">
        <i class="fa-solid fa-clock"></i>
      </div>
      {{item.nameService}}
      </div>
    </ng-container>
  </div>

</div>
