* {
  transition: all .3s ease-in-out;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.home_container{
  width: 100%;
  display: flex;
  flex-direction: column;
}

app-navbar{
  position: sticky;
  top: calc(-1 * var(--nav-height));
  z-index: var(--nav-zindex);
}

#section_container{
  position: relative;
  width: 100%;
  margin-bottom: 4rem;
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
}

.nav_section{
  width: 100%;
  padding: var(--section-padding);
  scroll-snap-align: start;
  scroll-snap-stop: always;
  flex: none;
  padding-top: 0;
  &.no-pad{
    padding: 0;
  }
}

@media (min-width: 1024px) {
  #section_container{
    margin-bottom: 0;
  }
}
